/*Example configuration file for monosump
As you can see, this is a comment. 
The configuration file format is basically just a non-strict JSON format, hence comments being allowed
Option names are case sensitve
*/

/*Unless otherwise noted, these are the defaults */
/*all options are optional, although nothing useful will happen without setting triggers*/

readCount: 10, /*how many samples to read total*/
delayCount: 10, /*how amny samples to read after the trigger executes*/
samplesFrequency: 1000, /*sample frequency in Hz*/
demux: false, 
noiseFilter: false,
externalClock: false,
invertclock: false,
stages = [ /*If unaware of how JSON works, this begins an "array" */
{
  /*By default, there are no triggers or stages setup*/
  delay: 0,
  level: 0,
  channel: null, /*This is the channel which functions as a serial channel. If set to null, parallel mode is used*/
  start: false, /*If set to true, when this trigger fires, capturing of data will start */
  triggers: [  /*The trigger value array. Any channels not listed here won't have an effect on the trigger */
    0: 1, /*Triggers when channel 0 is high*/
    5: 0, /*and when channel 5 is low*/
    21: 1 /*and when channel 21 is high*/
  ]
}, /*note the comma is required right here
{
  /*you can define another trigger stage here... */
}
], /*end the stages array*/

disabledGroups: [ 0: true ] 
/*use disabledGroups to disable a channel group (0-3) from capturing
  This is useful to conserve sampling memory and allow for high sample counts on the channels you are interested in
  all groups are enabled by default
*/

